<!-- About Section -->
    <section id="about" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image wow zoomInUp">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2012-2016</h4> 
                                    <h4 class="subheading">My Beginning with Computer Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted desc">I studied Computer Engineering at Mumbai University!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image wow zoomInUp">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">June 2016</h4>
                                    <h4 class="subheading">Hyderabad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted desc">I went to Hyderabad. Take a course on JAVA Development.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image wow zoomInUp">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">October 2016</h4>
                                    <h4 class="subheading">OF10</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted desc">Started Learning Front-End Development at OF10.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image wow zoomInUp">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Thanks To</h4>
                                    <h4 class="subheading">Upahar Sood</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted desc">The person who helps me to get deep into this field.</p>
                                </div>
                            </div>
                        </li>
                        <!--li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
