<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{{ '/assets/letter/index.css' | relative_url }}">
</head>
<body>
   <div class="mobile-warning" aria-hidden="true">
      <div class="message-box">
         <p>Please open this in laptop or large screens.</p>
      </div>
   </div>
   <div class="scene">
      <article class="book">
         <section class="page active">
            <div class="start front h-100">
               <div class="page-1">
               <h2 class="book-title">Between Conversations</h2>
               <p class="book-subtitle">Just something I wanted to leave here.</p>
               </div>
               <div class="page-nav-hint" aria-hidden="true">&gt;</div>
            </div>
            <div class="back">
               <div class="collage" aria-hidden="true">
                  <div class="photo p1"><img src="{{ '/assets/letter/hi.jpeg' | relative_url }}" alt="hi" title="hi"></div>
                  <div class="photo p2"><img src="{{ '/assets/letter/call.jpeg' | relative_url }}" alt="call" title="call"></div>
                  <div class="photo p3"><img src="{{ '/assets/letter/cutoff.jpeg' | relative_url }}" alt="cut off" title="cut off"></div>
                  <div class="photo p4"><img src="{{ '/assets/letter/ownreaction.jpeg' | relative_url }}" alt="cute reaction" title="cute reaction "></div>
               </div>
            </div>    
         </section>
         <section class="page">
            <div class="front">
               <div>
               <p>I’ve been reflecting on these past couple of months, and I honestly couldn't stop thinking about how special this start has been for us, and I wanted to put some of that into words.</p>
               <p>I honestly didn't think you'd accept my interest in the first place.

         Seeing the notification that you had accepted made me so happy. It was just a small notification on my phone, but it stayed with me for the rest of the day.</p>
                  <p>Then your first message came.</p>
                  <p>It's funny how a simple <b class="bold">Hi</b> can become the beginning of something. We started chatting, and I really liked that you put in the effort to keep the conversation going. Those random jokes, the funny texts, and the easy back and forth made me look forward to hearing from you.</p>
                  <p>I remember you once joked about me being on your <b class="bold">cut-off list</b> that made me keep trying! I honestly didn't think we’d reach this point this fast, and I just wanted to tell you how much I value what we're building. It's been a great journey so far."</p>
                  
         </div>
            </div>
            <div class="back">
               <div class="selected-grid" aria-hidden="true">
                  <div class="photo p1"><img src="{{ '/assets/letter/birthday.jpeg' | relative_url }}" alt="birthday" title="birthday"></div>
                  <div class="photo p2"><img src="{{ '/assets/letter/birthdaywishappericaition.jpeg' | relative_url }}" alt="birthday wish" title="birthday wish"></div>
               </div>
            </div>    
         </section>
         <section class="page">
            <div class="front">
               <div class="">
               <p>That first hour-long call really changed everything for me. It didn't feel like a typical matrimony prospect conversation it just felt real. Since then, I've been constantly impressed by how you think and your emotional maturity. You've really seen things, and I love that about you.</p>
               <p>With you, time just flies. I honestly wish I had a pause button to make the clock stop whenever we’re together. I’ve had a crush on your smile since I saw you in person; I loved your voice on the phone, but seeing you in real life was something else. And if I’m being honest, <b class="bold">I find myself really distracted by your nose and nose ring it just look so pretty. </b></p>
               <p>And the sunsets I finally get it. I’ve never met anyone who loves them like you do. At the dam, I realized I was watching you more than the sunset. Honestly, I was a little jealous it had your attention! That scooter ride was a first for me, too, and I loved you taking the lead. Being that close, watching your hair moving in the air everything about that moment just stuck with me. I’ve been replaying it in my head ever since.</p>
               </div>
            </div>
            <div class="back">
               <div class="snippet-collage" aria-hidden="true">
                  <div class="photo p1"><img src="{{ '/assets/letter/compliment.jpeg' | relative_url }}" alt="compliment" title="compliment"></div>
                  <div class="photo p2"><img src="{{ '/assets/letter/goodview.jpeg' | relative_url }}" alt="good view" title="good view"></div>
                  <div class="photo p3"><img src="{{ '/assets/letter/flirt.jpeg' | relative_url }}" alt="flirt" title="flirt"></div>
                  <div class="photo p4"><img src="{{ '/assets/letter/flirt-2.jpeg' | relative_url }}" alt="flirt" title="flirt"></div>
               </div>
            </div>    
         </section>
         <section class="page">
            <div class="front">
            <div>
               <p>I also remember that moment when we were waiting for my cab. I looked back and saw you standing there, and I just felt so connected to you. Honestly, I didn't want to leave <b class="bold">I was secretly wishing you would’ve told me to wait a bit </b>. While we were walking, <b class="bold">I really wanted to hold your hand, but I just couldn’t bring myself to do it. Even at breakfast, I tried to play that thumb game, but I couldn't quite make the move. I just really liked watching you play with your hands, and even though I wanted to hold them, I just didn't.</b></p>
               <p>You know, I don’t even know if I should say this, but <b class="bold">SHEETAL, SHEETAL SAW, SHEETAL SAWKARE</b> name has started becoming my <b class="bold">favorite notification</b> on my phone. It’s all because of you. I find myself just looking forward to the time where I can see you more and more, and honestly, I don't think I need that pause button anymore <b class="bold">I just want to be around you.</b></p>
               
               <p>I’ve loved every bit of this journey so far, and honestly, I’m just really excited to see where we go from here. It’s been great getting to know you, and I can’t wait to create more moments like the ones we’ve already had.</p>
            </div>
            </div>
            <div class="back">
               <div class="three-photo-collage" aria-hidden="true">
                  <div class="photo p1"><img src="{{ '/assets/letter/firstdate.jpeg' | relative_url }}" alt="first date" title="first date"></div>
                  <div class="photo p2"><img src="{{ '/assets/letter/second.jpeg' | relative_url }}" alt="second date" title="second date"></div>
                  <div class="photo p3"><img src="{{ '/assets/letter/thirddate.jpeg' | relative_url }}" alt="third date" title="third date"></div>
               </div>
            </div>    
         </section>
         <section class="page">
            <div class="front">
               <div>
                  <p>
                     That watch party we did across cities was such a special memory for me. <b class="bold">I was so excited for it and honestly just so happy to see you after such a long time.</b> You used to say you didn't want to put in any effort, but the truth is you always did. Be it planning that date to the dam, preparing chicken, or riding a scooty, you did everything, and I really want to thank you for all of that. I know you like to show this strong exterior to the world, but deep down, you are a very soft, sweet, and sensitive person.
                  </p>
                  <P>You are really like a <b class="bold">sunflower in my life you bring so much light</b>, and you've introduced me to so many different aspects of things that I never would have seen otherwise. Because of you, I've started gaining so much more confidence in myself.</P>
                  <p>The trip with you started as just an idea, but it really turned out to be something special. <b class="bold">I got to see you so closely your cuteness, the way you get ready, and those mirror selfies. The smell of your hair was unforgettable, and I loved your cute little hands and all those little moments.</b> I know I made a lot of mistakes on that trip and didn't behave like the guy you want in your life. I just wish that you and me could travel the world together, go to concerts, and enjoy meals side by side.</p>
               </div>
            </div>
            <div class="back">
                  <div class="three-photo-collage" aria-hidden="true">
                  <div class="photo p1"><img src="{{ '/assets/letter/backpacks.jpeg' | relative_url }}" alt="bags" title="bags">></div>
                  <div class="photo p2"><img src="{{ '/assets/letter/casino-night.jpeg' | relative_url }}" alt="casino night" title="casino night"></div>
                  <div class="photo p3"><img src="{{ '/assets/letter/casino-chip.jpeg' | relative_url }}" alt="winning chip" title="winning chip"></div>
               </div>
               
            </div>    
         </section>
         <section class="page">
            <div class="front">
               <div>
                  <p><b class="bold">I fell in love with your voice, your curly hair, your thoughts, the first time I heard you laugh, every time we had a conversation, and the evening when I first saw you, because I could feel that you were my person. In my eyes, you are endlessly beautiful and the cutest girl and I just adore and admire you so much. You know I would rather be helping you get ready than arguing being late.</b></p>
                  <p><b class="bold">I have enjoyed and cherished every moment we had together. Meeting you was, and still is, the best thing that's ever happened to me. I really want to take care of you and pamper you in every way possible. it just like tujhpe fida hoon fida hoon main...</b> As the saying goes, <b class="bold"> I would die for love, but for me, it's about wanting to live for you and be with you forever.</b></p>
                  <p>I wanted to say all of this to you on that early morning, but I couldn't. I always felt that an emotional connection is way more important to build a relationship, and that two people should be friends first. I really didn't know that this thinking would backfire on me, and eventually it did when you said you don't feel the romantic energy. When you said I'm not perfect for you, it was just too hard to listen to, but I respect that you were honest about it. I always thought to give you enough space, and wanted to win you over through emotional safety first.</p>
                  
               </div>
            </div>
            <div class="back">
               <p>I know this will make you push me away even more, but I just needed to say it all. You know, if I get a thousand versions of this life, I'd look for you in every single one. There is so much more I could write about, but I'll keep it short. Please don't feel any burden, I just wanted to confess it, and I will not bother you with my feelings again going ahead.</p>
               <div style="position: absolute; bottom: 20px; right: 20px;">

                  <p>With all the love in the world</p>
                  <p>Ankit</p>
               </div>
            </div>    
         </section>
      </article>
   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="{{ '/assets/letter/index.js' | relative_url }}"></script>
</body>
</html>